a {
    text-decoration: none;
    color: #000;
}

main {
    background: linear-gradient(
        180deg, 
        #B8D5DC 0%, #AACED6 0%, #AACED6 0.01%, 
        rgba(162, 237, 254, 0.3) 100%
    );
}

